
ul
  {
    li::before {
      content: "➡ ";}

    li {
      font-size: 21px;}
  }

#globe
  {
  width: 50%;
  height:50%;
  }

.header
  {
    font-weight: bold;
    font-style: italic;
  }

.col-4
  {

    outline: solid 1px black;
  }

.row
  {
    text-align: center;
  }
