
ul
  {
    li::before {
      content: "➡ ";}

    li {
      font-size: 21px;}
  }

#globe
  {
  width: 50%;
  height:50%;
  }

.header
  {
    font-weight: bold;
    font-style: italic;
  }

.col-5
  {
    outline: solid 1px black;
    white-space: nowrap;
  }

.row
  {
    text-align: center;
    padding-left: 10%;
    padding-top: 5%;
  }

@media only screen and (max-width: 600px)
  {
  background-color: light-grey;
  }
